@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: oklch(70.7% 0.165 254.624);
  --font-display: "Manrope", "sans-serif";
  --breakpoint-paaji: 690px;
  --breakpoint-3xl: 2560px;

}
